* {
  margin: 0;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
html,
body,
header,
#intro {
  height: 100%;
}
body {
  background-color: #2c2c2c;
  overflow-x: hidden;
}
nav {
  background-color: #2c2c2c;
  height: 70px;
}
nav ul li img {
  position: relative;
  left: -40px;
  top: 10px;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  list-style: none;
}
nav ul li a {
  position: relative;
}
nav ul li a span {
  color: #ffbf00;
}
ul li.activebar a {
  color: #ffbf00;
}
.hover-line::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ce9c07;
  transition: width 0.3s;
}
.hover-line:hover::after {
  width: 100%;
  transition: width 0.3s;
}
#navcategories li a:hover {
  color: #ce9c07;
}
.navbarcolors a {
  color: #9b833b;
}
#navbarcolors a {
  color: #9b833b;
}
#navcategories a {
  text-decoration-line: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  transition: 00.3s all;
}
#navcategories {
  float: right;
  padding-left: 30px;
  top: -40px;
  position: relative;
}
#navcategories {
  animation: transition 0.9s;
}
@keyframes transition {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
/* Hero */
.loadinh1Transition {
  animation: transitionH1 0.8s;
}
.herobutton {
  animation: transitionbtn 0.8s;
}
@keyframes transitionbtn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(90deg);
  }
}
@keyframes transitionH1 {
  from {
    opacity: 0;
    transform: rotateY(60deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
#intro {
  background: url(../img/Hero/apartments.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 93%;
  filter: blur(10px);
}
#h1hero {
  width: max-content;
  overflow: hidden;
  position: relative;
  top: -600px;
  right: -100px;
  font-weight: 700;
  color: white;
  text-align: left;
  background: linear-gradient(to right, #ccc 50%, #ce9c07 20%, #a1435b);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.9s ease-out;
}
#h1hero:hover {
  background-position: -100%;
}
#buttonhero {
  position: relative;
  top: -600px;
  right: -100px;
  font-weight: 500;
  color: white;
  box-shadow: inset 0 0 0 0 #a1435b;
  transition: ease-out 0.3s;
}
#buttonhero:hover {
  box-shadow: inset 135px 0 0 0 #a1435b;
  cursor: pointer;
  color: white;
}
.herobutton {
  width: 135px;
  height: 50px;
  border-radius: 70px;
  background-color: #ddae20;
  color: white;
  border: none;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

/* HERO */

/* Latest Projects */

.latestprojects {
  height: 100%;
}
.container-height {
  height: 60vh;
}
.latestProjects {
  color: white;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: -120px;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  bottom: 130px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  width: 300px;
  height: 300px;
}

/* CAROUSEL */
.carouselcontainer {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  bottom: 140px;
}
.inputheightradio {
  position: relative;
  bottom: 70px;
}

.latestprojects p {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: center;
  position: relative;
  bottom: 70px;
}
/* ABOUT ME */

.aboutmeContainer {
  height: 420px;
}
.aboutmeContainerHolder {
  display: flex;
  justify-content: space-around;
  height: 420px;
}
.aboutMeH1 {
  color: #f4a109;
  text-align: left;
  font-weight: 700;
  font-size: 22px;
  width: max-content;
}
.aboutmeContainer p {
  font-weight: 500;
  color: white;
  font-size: 18px;
  text-align: left;
  display: inline-block;
}
.aboutmeContainer h1 {
  overflow: hidden;
  background: linear-gradient(to right, #f4a109 50%, #6d5d2c 20%, #521423);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.9s ease-out;
}
.aboutmeContainer h1:hover {
  background-position: -100%;
}
.aboutMeP {
  width: 700px;
}
.aboutMeImage {
  border-radius: 4px;
  width: 350px;
  height: 360px;
  background-repeat: no-repeat;
  background: url(../img/pexels-photo-6592547.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: solid 1px transparent;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 65%);
  float: right;
  display: inline-block;
}

/* About Me Degrees */
.MyDegrees {
  color: #f4a109;
  font-weight: 700;
  font-size: 22px;
}
.MyDegrees {
  text-align: center;
  margin-top: 120px;
  font-weight: 700;
  font-size: 22px;
  transition: 0.9s ease-out;
}
.MyDegrees {
  overflow: hidden;
  background: linear-gradient(to right, #f4a109 50%, #6d5d2c 20%, #521423);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.9s ease-out;
}
.MyDegrees:hover {
  background-position: -100%;
}
/* Reset */

.artboard2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4rem;
}

@media (max-width: 37.5em) {
  .artboard2 {
    padding: 1rem;
  }
}

.card2 {
  -webkit-box-flex: initial;
  -ms-flex: initial;
  flex: initial;
  position: relative;
  height: 26rem;
  width: 28rem;
  -webkit-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}

.card__side2 {
  height: 26rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  border-radius: 3px;
  overflow: hidden;
  /* The image is overflowing the parent. */
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.card__side--front2 {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba(30, 11, 54, 0.65)),
      to(rgba(136, 100, 119, 0.7))
    ),
    url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  background-image: linear-gradient(
      to right bottom,
      rgba(30, 11, 54, 0.65),
      rgba(244, 161, 9, 0.7)
    ),
    url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.card__side--back2 {
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card2:hover .card__side--back2 {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card2:hover .card__side--front2 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card__theme2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}

.card__theme-box2 {
  color: #fff;
  margin-bottom: 8rem;
}

.card__subject2 {
  letter-spacing: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card__title2 {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}

.card__cover2 {
  position: relative;
  background-size: cover;
  height: 7rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right top,
      from(rgba(30, 11, 54, 0.65)),
      to(rgba(202, 55, 130, 0.65))
    ),
    url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  background-image: linear-gradient(
      to top right,
      rgba(30, 11, 54, 0.65),
      rgba(244, 161, 9, 0.7)
    ),
    url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.card__heading2 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
}

.card__heading-span2 {
  font-family: "VT323", monospace;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
}

.card__details2 {
  font-family: "Inconsolata", monospace;
  padding: 0rem 2rem;
}

.card__details2 ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.card__details2 ul li {
  text-align: center;
  font-size: 15px;
  padding: 1rem;
}

.card__details2 ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card2 {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side2 {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .card__side--front2 {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back2 {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  .card2:hover .card__side--front2 {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  .card__details2 {
    padding: 3rem 2rem;
  }
  .card__theme2 {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
  }
  .card__theme-box2 {
    margin-bottom: 1.5rem;
  }
  .card__title2 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */
/* ABOUT ME DEGREES */
/* END */
.endWeb {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.endWeb h1 {
  display: flex;
  justify-content: left;
}
.lineseperator {
  border-top: solid 1px rgba(0, 0, 0, 0.308);
  margin-bottom: 30px;
}
.endWeb h3 {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.endWeb span a {
  color: #ffbf00;
  text-decoration: none;
  text-decoration-line: none;
}
.endWeblist ul li a {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-decoration-line: none;
  list-style: none;
  list-style-type: none;
  transition: 0.4s;
}
.endWeblist li a:hover {
  color: #ce9c07;
  transition: 0.4s;
}
.endWeblist a {
  list-style: none;
  list-style-type: none;
}
.endWeblist li {
  list-style: none;
  display: inline-block;
  padding: 0 15px 0 0;
}
.endWebimages ul {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
.endWebimages {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: right;
}
.endWebimages img {
  width: 41px;
  height: 41px;
}
.endWebimages ul a img {
  display: inline-block;
}
#spanMe-clicker a {
  transition: 0.4s;
}
#spanMe-clicker a:hover {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.349);
}
/* END */
/*ONLOAD EFFECTS */
#aboutMe {
  animation: transitionH1 0.8s;
}
.myDegrees_Container {
  animation: transitionbtn 0.8s;
}
.latestprojects {
  animation: transitionbtn 0.8s;
}
.endWeblist {
  animation: transitionEnd 0.8s;
}
.endWebimages {
  animation: transitionbtn 0.8s;
}
.h3endfloat {
  animation: transitionbtn 0.8s;
}
@keyframes transitionEnd {
  from {
    opacity: 0;
    transform: rotateY(120deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
@keyframes transitionbtn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(90deg);
  }
}
/* RESPONSIVE WEBSITE */
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 768px) {
  .aboutMeImage {
    display: block;
    width: 500px;
  }
  .aboutMeP {
    display: block;
  }
  .aboutMeH1 {
    display: block;
  }
}
@media only screen and (max-width: 961px) {
  .aboutMeImage {
    width: 500px;
  }
}
/**/
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1399px) {
  .aboutmeContainer p {
    font-weight: 500;
    color: white;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    position: relative;
    right: 55px;
  }
}
